#account-container {
    width: 10vw;
    min-width: 80px;
}

#account-container:hover #account-dropdown-container {
    opacity: 1;
    pointer-events: all;
}

#account-name {
    width: 100%;
    background: #074db6;
    color: white;
}

#account-dropdown-container {
    opacity: 0;
    pointer-events: none;
    background: #0d6efd;
    width: 100%;
    z-index: 5;
}

#account-dropdown-list-container {
    list-style: none;
    text-align: center;
}

.account-dropdown-list-item {
    margin-top: 10%;
    margin-bottom: 10%;
}

.account-dropdown-list-item:hover {
    background: #2f82fd;;
}

#account-dropdown-list-container li a {
    text-decoration: none;
    width: 100%;
    color: white;
}

