.nav-link:hover {
    background: rgb(5, 5, 151);
}

.dropdown-link {
    position: relative;
}

.list-item {
    list-style: none;
}

.list-item a{
   list-style: none;
   color: white;
   font-weight: bold;
   text-decoration: none;
}

.dropdown-link:hover .dropdown-container{
    opacity: 1;
    pointer-events: all;
    z-index: 5;
}

.dropdown-container {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transform: translateX(-50%);
    left: 50%;
    background: #0d6efd;
    border: 1px solid white;
    border-top: none;
    min-width: 10vw;
    max-width: 30vw;
    padding: .3em;
    transition: opacity 200ms ease-in;
}

#third-dropdown-link {
    opacity: 0;
    pointer-events: none;
}